<?php $this->load->view('Public_header.html');?>

            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
                    <form role="form" action="<?php echo site_url('/Palette/editCate');?>" method="post">
                        <div class="form-group">
                            <label for="name">名称：</label>
                            <input type="text" name="name" id="name" class="form-control" value="<?php echo $the_cate['name']; ?>" />
                        </div>
                        <div class="form-group">
                            <label for="slug">别名：</label>
                            <input type="text" name="slug" id="slug" class="form-control" value="<?php echo $the_cate['slug']; ?>" />
                        </div>
                        <div class="form-group">
                            <label for="p_id">父类：</label>
                            <select name="p_id" id="p_id" class="form-control">
                                <option value="0">作为顶级分类</option>
                                <?php foreach($cates as $cate_p): ?>
                                <option value="<?php echo $cate_p['id']; ?>" <?php if($cate_p['id']==$the_cate['p_id']){echo 'selected="selected"'; } ?>><?php echo $cate_p['name']; ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                     
                       <div class="form-group">
                            <label for="menu">前台显示：</label>
                            <select name="menu" id="menu" class="form-control">
                                <option value="0" <?php if($the_cate['menu'] == '0'){echo "selected";}?>>不显示到前台</option>
                                <option value="1" <?php if($the_cate['menu'] == '1'){echo "selected";}?>>显示到前台</option>
                            </select>
                        </div>
                     
                        <div class="form-group">
                            <label for="sort">排序：</label>
                            <input type="text" name="sort" id="sort" class="form-control" value="<?php echo $the_cate['sort']; ?>" />
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="id" value="<?php echo $the_cate['id']; ?>" />
                            <a class="btn btn-link" href="<?php echo site_url('/Palette/cate'); ?>">返回</a>
                            <button class="btn btn-primary pull-right" type="submit">确定</button>
                        </div>
                    </form>
                </div>

            </div>

<?php $this->load->view('Public_footer.html');?>