<?php $this->load->view('Public_header.html');?>

            <div class="row">
                <div class="col-xs-12">
                    <?php if(!empty($icon)): ?>
                    <table class="table table-hover">
                        <tr>
                            <td colspan=""><a href="<?php echo site_url('/Post/iconList/1');?>" class="btn <?php if($name =='home_icon'){echo 'btn-primary';}?>" style="border-color: #357ebd;">顾客首页ICON</a></td>
                            <td colspan=""><a href="<?php echo site_url('/Post/iconList/2');?>" class="btn <?php if($name =='worker_icon'){echo 'btn-primary';}?>" style="border-color: #357ebd;">工人首页ICON</a></td>
                            <td colspan="3"><a href="<?php echo site_url('/Post/iconList/3');?>" class="btn <?php if($name =='guide_icon'){echo 'btn-primary';}?>" style="border-color: #357ebd;">导购首页ICON</a></td>
                        </tr>
                        <tr>

                            <th colspan="5"><?php if($name == 'guide_icon'){echo "导购首页ICON";}elseif($name == 'worker_icon'){echo "工人首页ICON";}elseif($name == 'home_icon'){echo "顾客首页ICON";}?></th>
                        </tr>
                        <tr>
                            <th>ID</th>
                            <th>名称</th>
                            <th>icon图片</th>
                            <th>地址</th>
                            <th>操作</th>
                        </tr>
                        <?php foreach($icon as $cate): ?>
                        <tr>

                            <td><?php echo $cate['id']; ?></td>

                           
                            <td><?php echo $cate['name']; ?></td>
                            <td style="width: 20%;height: 100px;"><img src="<?php echo $cate['pic']?>" style="width: 100%;height: 100%;"></td>
                            <td><?php echo $cate['url'];?></td>
                            <td>
                                <a href="<?php echo site_url('/Post/iconEdit/').$name.'/'.$cate['id']; ?>" title="编辑"><span class="glyphicon glyphicon-edit"></span></a>
                                <!-- <a href="<?php echo site_url('/Post/bannerDel/').$cate['id']; ?>" title="删除" onclick="javascript:if(!confirm('确实要删除吗?')){return false;}"><span class="glyphicon glyphicon-remove"></span></a> -->
                            </td>
                        </tr>
                        <?php endforeach; ?>
                    </table>
                    <?php else: ?>
                    <h3>暂无信息！</h3>
                    <?php endif; ?>
                </div>
            </div>

<?php $this->load->view('Public_footer.html');?>
