<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><?php echo $title; ?></title>
        <link href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <!--[if lt IE 9]>
            <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
            <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="http://apps.bdimg.com/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo site_url('Home/index'); ?>">控制台首页</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="<?php echo $menu == 'Banner' ? 'dropdown active' : 'dropdown'; ?>">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Banner、icon管理 <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="<?php echo site_url('Post/bannerList'); ?>">查看banner</a></li>
                                <li><a href="<?php echo site_url('Post/iconList/1'); ?>">查看icon</a></li>
                            </ul>
                        </li>
                        <li class="<?php echo $menu == 'Post' ? 'dropdown active' : 'dropdown'; ?>">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">商学院 <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="<?php echo site_url('Post/index'); ?>">查看</a></li>
                                <li><a href="<?php echo site_url('Post/add'); ?>">新增</a></li>
                            </ul>
                        </li>
                        <li class="<?php echo $menu == 'Palette' ? 'dropdown active' : 'dropdown'; ?>">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">调色板 <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="<?php echo site_url('Palette/cate'); ?>">类别查看</a></li>
                                <li><a href="<?php echo site_url('Palette/index'); ?>">查看调色板列表</a></li>
                                <li><a href="<?php echo site_url('Palette/paletteAdd'); ?>">新增调色板</a></li>
                            </ul>
                        </li>
                        <li class="<?php echo $menu == 'User' ? 'dropdown active' : 'dropdown'; ?>">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">管理用户 <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="<?php echo site_url('User/index'); ?>">查看</a></li>
                                <li><a href="<?php echo site_url('User/userAdd'); ?>">新增</a></li>
                            </ul>
                        </li>
                        <li class="<?php echo $menu == '' ? 'dropdown active' : 'dropdown'; ?>">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">消息推送 <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="<?php echo site_url('User/index'); ?>">查看</a></li>
                                <li><a href="<?php echo site_url('User/add'); ?>">新增</a></li>
                            </ul>
                        </li>
                        <li class="<?php echo $menu == '' ? 'dropdown active' : 'dropdown'; ?>">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">APP版本 </a>
                           
                        </li>
                      <!--   <li class="<?php echo $menu == 'Option' ? 'dropdown active' : 'dropdown'; ?>">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">配置 <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="<?php echo site_url('Option/index'); ?>#section1">全局</a></li>
                                <li><a href="<?php echo site_url('Option/index'); ?>#section2">幻灯片</a></li>
                                <li><a href="<?php echo site_url('Option/index'); ?>#section3">首页小栏目</a></li>
                                <li><a href="<?php echo site_url('Option/index'); ?>#section4">侧边栏</a></li>
                                <li><a href="<?php echo site_url('Option/index'); ?>#section5">导航菜单</a></li>
                                <li><a href="<?php echo site_url('Option/index'); ?>#section6">主题</a></li>
                            </ul>
                        </li> -->
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">系统 <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="<?php echo site_url('Login/logout'); ?>">注销登陆</a></li>
                                <!-- <li class="divider"></li> -->
                                <!-- <li><a href="<?php site_url('/'); ?>" target="_blank">网站首页</a></li> -->
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>